main {
  display: flex;
}

form {
  width: 30%;
}

section{
  background-color: var(--light-grey);
  width: 70%;
}

h1 {
  text-align: center;
  padding: 2em 0;
}

#illustration {
  width: 100%;
  margin: 0 auto;
}
