.container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.containerForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 2rem;
    padding: 24px;
    height: 353px;
    border-radius: 3px;
    border: solid 1px #3b3b3b;
    background-color: #313131;

    input {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        margin: 16px 0 8px;
        height: 40px;
        line-height: 1.29;
        letter-spacing: normal;
        color: #9f9f9f;

        height: 40px;
        margin: 0px 0 8px;
        border-radius: 8px;
        background-color: #494949;
    }

    textarea {
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #9f9f9f;

        margin: 8px 0 32px;
        padding: 12px 16px;
        height: 80px;
        margin: 8px 0 32px;
        border-radius: 8px;
        background-color: #494949;
        overflow: hidden;
    }

    input[type='file'] {
        display: none;
        visibility: hidden;
    }

    img {
        border-radius: 36px;
    }
}


.containerForm .containerbutton {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    a {
        width: 60px;
        height: 17px;
        margin: 12px 24px 12px 0;
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: #6b6a6a;
        border-bottom: #313131;
    }

    a:hover {
        color: #5f5f5f;
    }

    button {
        font-size: 14px;
        padding: 12px 24px;
        color: #313131;
    }
}



.containerForm .icon{
    display: block;
    position: absolute;
    margin-left: 33px;
    margin-top: 33px;
    z-index: 1;
}