{
    "presets": ["next/babel"],
    "plugins": [
      [
        "module-resolver",
        {
          "root": ["./src/"],
          "alias": {
            "@components": "./src/components",
            "@pages": "./src/pages",
            "@styles": "./src/styles"
          }
        }
      ],
      ["styled-components", { "ssr": true }]
    ]
  }

  