.textareaContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    gap: 0.2rem;

    p {
        font-family: var(--font-type);
        font-size: 0.875rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: center;
        color: var(--color-button);
    }

    textarea {
        display: flex;
        width: 100%;
        height: 4.25rem;
        padding-left: 1rem;
        padding-top: 0.75rem;
        align-items: center;
        flex-shrink: 0;
        
        border: none;
        border-radius: 0.5rem;
        background-color: var(--color-input);

        color: var(--color-post);
        font-family: var(--font-type);
        font-size: 0.875rem;
        font-style: var(--font-style);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;

        &:focus {
            border: 0.076rem solid var(--color-form-border);
            color: var(--color-post);
        }
    }
}