.newPost {
  display: flex;
  flex-direction: column;
  grid-area: new-post;
  background-color: #313131;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
  padding: 12px;
  margin: 0 auto;
  box-sizing: border-box;
  .inputWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;

    textarea {
      resize: none;
      height: 10vh;
    }

    input {
      height: 6vh;
    }

    input,
    textarea {
      color: #f6f6f6;
      width: 100%;
      outline: none;
      padding: 8px 12px 4px;
      box-sizing: border-box;
      border: unset;
      border-radius: 10px;
      background-color: #494949;
      &::placeholder {
        color: #9f9f9f;
      }
    }
    input[type='file'] {
      display: none;
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #494949;
      width: 80px;
      aspect-ratio: 1 / 1;
      margin: 0 auto;
      border-radius: 1.8vmax;

      img {
        width: 24px;
      }

      img.preview {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 1.8vw;
      }
    }

    input[type='file']:invalid + label {
      position: relative;
      cursor: pointer;
    }
  }

  .buttonsWrapper {
    margin-top: 16px;
    display: flex;
    gap: 16px;
    justify-content: end;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-around;
    font-size: 2.25rem;
    padding: 24px;
    box-sizing: border-box;

    .inputWrapper {
      &:last-of-type {
        width: 40%;
      }

      input {
        height: 7vh;
      }

      textarea {
        height: 16vh;
      }

      input,
      textarea {
        font-size: 1.75rem;
      }
    }
  }
}
