#page {
  display: grid;
  grid-template-rows: auto;
}

#page main {
  margin-top: 46px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.post-container {
  margin-top: 56px;
}
.post-container .content-title {
  color: #7a7a7a;
  font-size: 14;
}

.postList {
  width: 516px;
  min-height: 190px;
  border-radius: 3px;
  border: solid 1px #3b3b3b;
  background-color: #313131;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 8px 0px;
}
.postList .btnExclude {
  margin-left: auto;
  background-color: none;
  margin-bottom: auto;
}

.postList .avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}
.postList .post-content {
  display: flex;
  grid-template-columns: auto;
  font-weight: normal;
  margin: 12px;
  min-width: 466px;
  margin-bottom: 40px;
}

.postList .post-content .post-info {
  margin: 12px;
}

.postList .post-content .post-text {
  color: #9f9f9f;
  overflow-wrap: anywhere;
}

.postList .post-content .post-send-by-text {
  margin-top: 24px;
  color: #5f5f5f;
  font-size: 12px;
  font-weight: 500;
}

.postList .post-content .post-send-by {
  color: #7a7a7a;
  font-size: 14px;
}

.postList .avatar img {
  width: 88px;
  height: 88px;
  border-radius: 36px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

form.mainForm {
  width: 516px;
  height: 353px;
  border-radius: 3px;
  border: solid 1px #3b3b3b;
  background-color: #313131;
  display: grid;
  justify-content: center;
  align-items: center;
}

form.mainForm .uploadBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

form.mainForm .uploadBtn label {
  padding: 10px;
  width: 88px;
  height: 88px;
  border-radius: 36px;
  border: 1px solid #4b4b4b;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
form.mainForm .uploadBtn label:hover {
  border: 1px solid #4b4b4b;
  background: #5f5f5f;
  transition: 0.2s;
}

form.mainForm .uploadBtn input[type="file"] {
  display: none;
}

form.mainForm .uploadBtn .uploadPrev {
  width: 88px;
  height: 88px;
  border-radius: 36px;
  object-fit: cover;
}

form.mainForm input {
  width: 468px;
  height: 40px;
  border-radius: 8px;
  background-color: #494949;
  border: none;
  padding: 12px 16px;
  color: #ccc;
  font-weight: normal;
}

form.mainForm textarea {
  width: 468px;
  height: 80px;
  border-radius: 8px;
  background-color: #494949;
  border: none;
  color: #ccc;
  font-weight: normal;
  padding: 12px 16px;
  resize: none;
}

form.mainForm input::placeholder,
form.mainForm textarea::placeholder {
  color: #7a7a7a;
  opacity: 1;
}

form.mainForm .formButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

form.mainForm .formButtons button {
  width: 98px;
  height: 41px;
  border-radius: 8px;
  background-color: #313131;
  color: #5f5f5f;
  text-decoration: underline;
  border: none;
  margin: 0px 2px;
  border: 1px solid #5c5c5c32;
}

form.mainForm .formButtons button:hover {
  background-color: #494949;
  color: #313131;
  text-decoration: none;
  border: 1px solid #888;
}

.alert-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}
.alert-container .alert-content {
  display: grid;
  width: 300px;

  border-radius: 3px;
  border: solid 1px #3b3b3b;
  background-color: #313131;
  align-items: center;

  padding: 12px;
  padding-bottom: 30px;
}

.alert-container p {
  text-align: center;
  margin: 10px 0px;
}
.alert-container .btnClose {
  margin-left: auto;
  margin-bottom: auto;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  form.mainForm {
    max-width: 300px;
  }
  form.mainForm input,
  textarea {
    max-width: 280px;
  }

  .postList {
    max-width: 300px;
  }
  .postList .post-content {
    max-width: 300px;
    margin: 0 0 30px 0;
    min-width: 280px;
  }
  .postList .post-content avatar {
    margin-right: auto;
  }
}
