.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    box-shadow: 2px 2px 5px 2px #b0b0b0 ;
    border-radius: 5px;
    width: 1400px;
    margin: 10px;
}

.containerDark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    box-shadow: 2px 2px 5px 2px #282828 ;
    border-radius: 5px;
    width: 1400px;
    margin: 10px;
}


.title {
    font-size: 40px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

li {
    list-style-type: none;
}

.imageFirst {
    /* border-radius: 30px 30px 0 0; */
    padding: 10px;
    width: 600px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px #646464 ;
    margin: 15px;
}

.imageFirst:hover {
    transition: transform 500ms;
    transform: scale(1.05);
}

.cardLi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1700px;
}

/* .dark-mode, .title {
    text-shadow: 0px 4px 4px rgba(55, 255, 0, 0.75);
} */

.introducao {
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.button {
    display: flex;
    width: 167px;
    height: 36px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0; 
    margin: 10px;
    border-radius: 5px;
    background: #9f0303;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border: none;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
}

.inputAndButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
}

.inputAndButton, label:hover  {
    transition: transform 500ms;
    transform: scale(1.08);
}

.inputAndButton, button:hover  {
    transition: transform 500ms;
    transform: scale(1.08);
}

.titleFavorites, .light-mode {
    font-size: 60px;
    font-weight: bold;
    color: #717171;
    text-shadow: 0px 4px 4px 717171;
    text-align: center;
}

@media (max-width: 1290px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        box-shadow: 2px 2px 5px 2px #b0b0b0 ;
        border-radius: 5px;
        width: 900px;
        margin: 10px;
    }

    .containerDark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        box-shadow: 2px 2px 5px 2px #282828 ;
        border-radius: 30px;
        width: 900px;
        margin: 10px;
    }

    .cardLi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 900px;
    }
}

@media (max-width: 1024px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        box-shadow: 2px 2px 5px 2px #b0b0b0 ;
        border-radius: 5px;
        width: 700px;
        margin: 10px;
    }

    .containerDark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        box-shadow: 2px 2px 5px 2px #282828 ;
        border-radius: 30px;
        width: 700px;
        margin: 10px;
    }

    .cardLi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 700px;
    }
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        box-shadow: 2px 2px 5px 2px #b0b0b0 ;
        border-radius: 5px;
        width: 520px;
        margin: 10px;
    }

    .containerDark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        box-shadow: 2px 2px 5px 2px #282828 ;
        border-radius: 30px;
        width: 520px;
        margin: 10px;
    }

    .imageFirst {
        /* border-radius: 30px 30px 0 0; */
        padding: 10px;
        width: 400px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px 2px #646464 ;
        margin: 15px;
    }

    .cardLi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 490px;
    }
}

@media (max-width: 440px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        box-shadow: 2px 2px 5px 2px #b0b0b0 ;
        border-radius: 5px;
        width: 300px;
        margin: 10px;
    }

    .containerDark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid red; */
        box-shadow: 2px 2px 5px 2px #282828 ;
        border-radius: 30px;
        width: 300px;
        margin: 10px;
    }

    .imageFirst {
        /* border-radius: 30px 30px 0 0; */
        padding: 10px;
        width: 200px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px 2px #646464 ;
        margin: 15px;
    }

    .cardLi {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
    }
}