@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  background-color: #343434;
}

::-webkit-scrollbar-thumb {
  background-color: #3b3b3b;
  border-radius: 8px;
}

pre::-webkit-scrollbar {
  height: 6px;
}
