.post-card-container {
  width: 30rem;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1.5rem;
  background-color: #313131;
  box-shadow: 0px 0px 1px 0px rgba(253, 251, 240, 0.74);
}

.post-image {
  width: 5rem;
  height: 5rem;
  border: 1px solid #7b7b7b;
  border-radius: 2rem;
  display: flex;

  overflow: hidden;
}

.post {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #9f9f9f;
}

.post p:nth-child(3) {
  font-size: 0.9rem;
}

.post h4 {
  margin-top: 1rem;
  font-size: 0.7rem;
}

.post-card-container svg {
  min-width: 1.5rem;
  height: auto;
  color: red;
}

@media (max-width: 510px) {
  .post-card-container {
    width: 90vw;
    flex-direction: column;
    align-items: center;
  }
}
