.container{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 6px;
}

.feed {
    margin-top: 32px;
    color: #7a7a7a;
    p{
        margin-left:-15px;
    }
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225px;
    
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #9f9f9f;
    border-radius: 3px;
    border-top: solid 1px #3b3b3b;
    border-bottom: solid 1px #3b3b3b;
    border-left: solid 1px #3b3b3b;
    background-color: #313131;

    img{
        border-radius: 36px;
    }
}

.message{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 225px;
    

    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #9f9f9f;
    border-radius: 3px;
    border-top: solid 1px #3b3b3b;
    border-bottom: solid 1px #3b3b3b;
    background-color: #313131;

    .span1{
        
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: 0.29px;
        text-align: left;
        color: #5f5f5f;
    }

    .span2{
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        text-align: left;
        color: #7a7a7a; 
    }
}

.close{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    height: 225px;
   
    letter-spacing: normal;
    border-radius: 3px;
    border-top: solid 1px #3b3b3b;
    border-right: solid 1px #3b3b3b;
    border-bottom: solid 1px #3b3b3b;
    background-color: #313131;

    img{
        margin-top: 10px;
    }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .close{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 25px;

        letter-spacing: normal;
        border-radius: 3px;
        border-right: solid 1px #3b3b3b;
        border-top: solid 0px;
        border-left: solid 1px #3b3b3b;
        background-color: #313131;

        img{
            
            margin-bottom: 20px;
        }
       
    }

    .message{
        border-right: solid 1px #3b3b3b;
        border-left: solid 1px #3b3b3b;
        border-bottom: solid 0px;
        border-top: solid 0px;
        background-color: #313131;
    }

    .img{
        border-right: solid 1px #3b3b3b;
        border-left: solid 1px #3b3b3b;
        border-bottom: solid 0px;
        border-top: solid 1px #3b3b3b;
        background-color: #313131; 
    }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    
 }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { 
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px;
    }
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }
