* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #9f9f9f;
  font-family: "Roboto", sans-serif;
}

body{
  background-color: #343434;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #46495a;
}

::-webkit-scrollbar-thumb {
  background-color: #e1e5ee;
  border-radius: 8px;
}

pre::-webkit-scrollbar {
  height: 6px;
}

html {
  scroll-behavior: smooth;
}
