.delete-button-box {
  background-image: url('src/assets/delete.png');
}

.entering {
  opacity: 0;
  transform: translateY(-20px);
}

.entering-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}
