
.wrapper{
  display:flex;
  flex-direction: column;
  background-color: #343434;
  width: 100%;
  height: 100%;



  .content{
    background-color: #343434;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }
}

