html,
body {
  font-size: var(--base-font-size);
  height: 100%;
  background-color: var(--black-two);
  font-family: var(--ff-roboto);
  font-size: 1rem;
  overflow: auto;
}

.color-warm-grey-two {
  color: #7a7a7a;
}