:root {
  --bg-main-color: #343434;
  --bg-section-color: #2B2B2B;
  --light-grey: #9F9F9F;

  /*Form*/
  --form-input-data: #494949;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Inter', 'Roboto', sans-serif;
  color: #fff;
}

body {
  background-color: var(--bg-main-color);
}

main {
  position: absolute;

  padding: 0 20px;
  width: 100%;
  height: 100%;  
}

/* Larger screens */
@media screen and (min-width: 768px) {
  main {
    padding: 0 30vw;
  }
}