.postContainer {
  margin-bottom: 16px;
  padding: 56px 24px 32px 24px;
  background-color: #313131;
  border: 1px solid #3b3b3b;
  border-radius: 3px;
  position: relative;
}
.postLayout {
  display: flex;
}
.photoContainer {
  min-width: 88px;
  height: 88px;
  border-radius: 36px;
  overflow: hidden;
}
.postDetails {
  margin-left: 32px;
}
.postMessage {
  margin: 0;
  color: #9f9f9f;
  font-family: Roboto;
  line-height: 1.25;
}
.sentBy {
  display: block;
  margin-top: 24px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.29px;
  color: #5f5f5f;
}
.postAuthor {
  display: block;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #7a7a7a;
}
.deletePost {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}
