@import url('reset.css');

:root {
  --bg-primary: hsl(0, 0%, 97%);
  --text-primary: hsl(0, 0%, 10%);

  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-primary);
    background-color: var(--bg-primary);
  }
}