@import url('reset.css');

:root {
  --bg-primary: hsl(0, 0%, 20%);
  --bg-secondary: hsl(0, 0%, 19%);
  --bg-header: hsl(0, 0%, 17%);
  --text-primary: hsl(0, 0%, 100%);
  --text-foreground: hsl(0, 0%, 62%);
  --text-highlight: hsl(84, 100%, 37%);

  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  line-height: 1.5;
  margin: 0 auto;
  text-align: center;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text-primary);
    background-color: var(--bg-primary);
  }
}